<%include header%>

    <link rel="stylesheet" href="/stylesheets/dashboard.css">
    <link rel="stylesheet" href="/stylesheets/jquery.jqplot.css">

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li <%if(!current) {%> class="active" <%}%>><a href="/web/stats/peer">All <span class="sr-only">(current)</span></a></li>
                    <% countries.forEach(function(country){  %>
                     <li <%if(country._id === current) {%> class="active" <%}%>><a href="/web/stats/peer/<%=country._id%>"><%=country._id%> </a> </li>
                    <% })%>
                </ul>
            </div>

            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <div id="chart1" style="height:400px;width:800px"></div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th><% if(current) {%>City <%} else {%> Country <%}%> name</th>
                            <th>Peer count</th>
                        </tr>
                    </thead>

                    <tbody>
                        <% datas.forEach(function(data, i){ %>
                            <tr>
                                <th scope="row">
                                    <%=i%>
                                </th>
                                <td>
                                    <%= data._id%>
                                </td>
                                <td>
                                    <%=data.count%>
                                </td>
                            </tr>
                            <% })%>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>

    <style>

    </style>


    <script src="/javascripts/jquery.jqplot.js"></script>
    <script language="javascript" type="text/javascript" src="/javascripts/plugins/jqplot.categoryAxisRenderer.js"></script>
    <script language="javascript" type="text/javascript" src="/javascripts/plugins/jqplot.canvasAxisTickRenderer.js"></script>
    <script language="javascript" type="text/javascript" src="/javascripts/plugins/jqplot.canvasTextRenderer.js"></script>
    <script language="javascript" type="text/javascript" src="/javascripts/plugins/jqplot.pointLabels.js"></script>
    <script language="javascript" type="text/javascript" src="/javascripts/plugins/jqplot.barRenderer.js"></script>

    <script>
        $(document).ready(function () {
            var line1 = [['Nissan', 10], ['Porche', 6], ['Acura', 2], ['Aston Martin', 5], ['Rolls Royce', 6], ['a', 1]
                , ['b', 1]
                , ['c', 1]
                , ['d', 1]
                , ['e', 1]
                , ['f', 1]
                , ['g', 1]
                , ['h', 1]
                , ['g', 100]
            ];
            var data = [
                <% datas.forEach(function (data, i) { %>
                    ['<%=data._id%>', <%=data.count %>],
                    <%}) %>];

            $('#chart1').jqplot([data], {
                title: 'Peer distribution',
                animate: !$.jqplot.use_excanvas,
                seriesDefaults: {
                    renderer: $.jqplot.BarRenderer,
                    pointLabels: { show: true, ypadding: 0 },
                    rendererOptions: {
                        barWidth: 30,
                        shadow: true,
                        varyBarColor: true
                    },
                },

                axesDefaults: {
                    tickRenderer: $.jqplot.CanvasAxisTickRenderer,
                    tickOptions: {
                        fontFamily: 'Georgia',
                        fontSize: '15pt',
                        angle: -30
                    }
                },
                axes: {
                    xaxis: {
                        renderer: $.jqplot.CategoryAxisRenderer,
                    },
                    yaxis: {
                        tickOptions: {
                            formatString: '%d'
                        },
                    }
                }
            });
        });
    </script>

    <%include footer%>