<%include header%>

    <link rel="stylesheet" href="/stylesheets/dashboard.css">

    <script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.js"></script>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-9 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li <%=current ? "" : "class=active"%>>
                        <a href="/web/stats/peer">All</a>
                    </li>
                    <% countries.forEach(country => {%>
                        <li <%=country._id===current ? "class=active" : ""%>>
                            <a href="/web/stats/peer/<%=country._id%>">
                                <%=country._id%>
                            </a>
                        </li>
                        <%})%>
                </ul>
            </div>

            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <div class='row' style="height:450px;width:80%">
                    <canvas id="chart"></canvas>
                </div>
                <div class='row'>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>
                                    <%=current?"City":"Country"%> name
                                </th>
                                <th>Peer count</th>
                            </tr>
                        </thead>

                        <tbody>
                            <% datas.forEach(function(data, i){ %>
                                <tr>
                                    <th scope="row">
                                        <%=i%>
                                    </th>
                                    <td>
                                        <%=data._id%>
                                    </td>
                                    <td>
                                        <%=data.count%>
                                    </td>
                                </tr>
                                <% })%>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script>
        var barDataset = {
            labels: [<% datas.forEach((data, i) => {
                if (i < 50) {%>'<%=data._id%>', <%}}) %>],
            datasets: [
                {
                    backgroundColor: 'rgba(75, 192, 192, 1)',
                    data: [<% datas.forEach((data, i) => {
                        if (i < 50) {%><%=data.count %>,<%}}) %>],
                }
            ]
        }

        var barChart = new Chart($('#chart'), {
            type: "bar",
            data: barDataset,
            options: {
                maintainAspectRatio: false,
                title: {
                    display: true,
                    text: 'Peer distribution',
                },
                legend: {
                    display: false,
                },
                scales: {
                    xAxes: [{
                        barPercentage: <%=datas.length < 10 ? 0.3 : 0.9 %>,
                    }],
                    yAxes: [{
                        stacked: true,
                    }]
                }
            }
        });
    </script>

    <%include footer%>