<%include header%>

    <div class="container">

        <table class="table">
            <caption>
                <div id='info' class="alert alert-success" role="alert" hidden=true>
                    Settting success!
                </div>
            </caption>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Location</th>
                    <th>Mac Address </th>
                    <th>IP Address </th>
                    <th>Status</th>
                    <th>Local(db)</th>
                    <th>Manual mode</th>
                    <th>Target(db)</th>
                    <th>Step(db)</th>
                    <th>Step time(s)</th>
                    <th>Submit</th>
                </tr>
            </thead>

            <tbody>
                <% datas.forEach(function(data, i){%>
                    <tr>
                        <th scope="row">
                            <%=i%>
                        </th>
                        <td>
                            <%=data.loc_s%>
                        </td>
                        <td>
                            <%=data.mac%>
                        </td>
                        <td>
                            <%=data.ip%>
                        </td>
                        <td >
                           <span id='st_<%=data._id%>' class="label label-primary"><%=data.status%></span> 
                        </td>
                        <td id='sn_<%=data._id%>'>
                            <%=data.snr_local%>
                        </td>
                        <td class="center-block">
                            <input id="checkbox_<%=i%>" type="checkbox" <%=data.manual ? "checked": ""%>>
                        </td>
                        <td>
                            <input type="number" id='att_target_<%=i%>' class="form-control input_<%=i%>" name="att_aim" min="1" max="30" step="0.5"
                                value=<%=data.att_aim%>
                            <%=data.manual?"":"disabled"%>>
                        </td>
                        <td>
                            <input type="number" class="form-control input_<%=i%>" name="att_step" min="0.25" max="3" step="0.25" value=<%=data.att_step%>

                        </td>
                        <td>
                            <input type="number" class="form-control input_<%=i%>" name="att_inv" min="5" max="30" step="1" value=<%=data.att_inv%>
                        </td>
                        <td>
                            <button type="button" id="submit_<%=i%>_<%=data._id%>" class="btn btn-default pull-right"><a  href=javascript:void(0)><i class='glyphicon glyphicon-ok'></i></a></button>
                        </td>
                    </tr>
                    <% })%>
            </tbody>
        </table>
        <div class="loading pull-left">
            <div><span></span></div>
            <div><span></span></div>
            <div><span></span></div>
        </div>
    </div>

    <script>
        $('input[type=checkbox]').change(e => {
            var id = e.target.id.split('_')[1];
            $('#att_target_' + id).attr('disabled', !e.target.checked)
        })

        $('button').click(function (e) {
            var id = this.id.split('_');
            var obj = {
                manual: $('#checkbox_' + id[1]).is(':checked')
            }

            for (one of $('.input_' + id[1])) {
                obj[one.name] = one.value;
            }

            $.ajax({
                type: "post",
                url: '/web/qos/' + id[2],
                data: JSON.stringify(obj),
                contentType: "application/json",
                dataType: 'json',
                error: () => alert('setting fail!'),
                success: () => {
                    $('#info').slideDown();
                    setTimeout(() => $('#info').fadeOut(), 1000)
                }
            });
        })

        setInterval(function () {
            $.getJSON('/web/qos/local', datas => {
                for (one of datas) {
                    $('#st_' + one._id).text(one.status)
                    $('#sn_' + one._id).text(one.snr_local)
                }
            })
        }, 5000)
    </script>

    <style>
        .loading {
            width: 60px;
            height: 60px;
            margin: 0 auto;
            /*margin-top: 100px;*/
            position: relative;
            -webkit-animation: load 3s linear infinite;
        }
        
        .loading div {
            width: 100%;
            height: 100%;
            position: absolute;
        }
        
        .loading span {
            display: inline-block;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: #99CC66;
            position: absolute;
            left: 50%;
            margin-top: -10px;
            margin-left: -10px;
            -webkit-animation: changeBgColor 3s ease infinite;
        }
        
        @-webkit-keyframes load {
            0% {
                -webkit-transform: rotate(0deg);
            }
            33.3% {
                -webkit-transform: rotate(120deg);
            }
            66.6% {
                -webkit-transform: rotate(240deg);
            }
            100% {
                -webkit-transform: rotate(360deg);
            }
        }
        
        @-webkit-keyframes changeBgColor {
            0%,
            100% {
                background: #99CC66;
            }
            33.3% {
                background: #FFFF66;
            }
            66.6% {
                background: #FF6666;
            }
        }
        
        .loading div:nth-child(2) {
            -webkit-transform: rotate(120deg);
        }
        
        .loading div:nth-child(3) {
            -webkit-transform: rotate(240deg);
        }
        
        .loading div:nth-child(2) span {
            -webkit-animation-delay: 1s;
        }
        
        .loading div:nth-child(3) span {
            -webkit-animation-delay: 2s;
        }
    </style>
    <%include footer%>