<%include header%>


    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.css">
    <link rel="stylesheet" href="/stylesheets/dashboard.css">
    <link rel="stylesheet" href="/stylesheets/jquery.jqplot.css">

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-9 col-md-2 sidebar">
                <div class="list-group" id='city'>
                    <% cities.forEach(function(city, i){ %>
                        <button type="button" class="list-group-item" value="<%=city._id%>">
                    <span class="badge"><%=city.peer%></span><%=city.country%>-<%=city.city%></button>
                        <% })%>
                </div>
            </div>

            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <div class="row">
                    <div id="placeholder" class="col-md-4" style="width:700px;height:350px;"></div>
                    <div id="summary" class="col-md-4" style="width:500px;height:350px"></div>
                    <div class="col-md-2">
                        <label for="ef_time" class="col-md-10 control-label">Effective time</label>
                        <select id='ef_time' class="form-control"></select>
                    </div>
                </div>
                <br>
                <div class="row">
                    <table id="table"></table>
                </div>
            </div>
        </div>
    </div>
    </div>


    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.js"></script>
    <script src="/javascripts/jquery.jqplot.js"></script>

    <script src="/javascripts/plugins/jqplot.canvasTextRenderer.min.js"></script>
    <script src="/javascripts/plugins/jqplot.canvasAxisLabelRenderer.min.js"></script>
    <script src="/javascripts/plugins/jqplot.highlighter.min.js"></script>
    <script src="/javascripts/plugins/jqplot.cursor.min.js"></script>

    <script src="/javascripts/plugins/jqplot.pointLabels.js"></script>
    <script src="/javascripts/plugins/jqplot.canvasTextRenderer.js"></script>
    <script src="/javascripts/plugins/jqplot.barRenderer.js"></script>
    <script src="/javascripts/plugins/jqplot.categoryAxisRenderer.js"></script>
    <script src="/javascripts/common.js"></script>

    <script>
        function refresh_table(city) {
            $('#table').bootstrapTable({
                url: "/api/stats/snr/json/" + city,
                striped: true,
                pagination: true,
                sidePagination: "server",
                pageSize: 10,
                columns: [{
                    field: 'ip',
                    title: 'IP Address',
                    width: '30%',
                }, {
                    field: 'snr',
                    title: 'SNR',
                    sortable: true,
                    align: 'center',
                    cellStyle: function (value, row, index, field) {
                        var strclass = "";
                        if (value > 25) {
                            strclass = 'success';
                        }
                        else if (value > 15) {
                            strclass = 'info';
                        }
                        else if (value > 5) {
                            strclass = 'warning';
                        }
                        else {
                            strclass = 'danger';
                        }
                        return { classes: strclass }
                    }
                }, {
                    field: 'times',
                    title: 'Update times',
                    width: '20%',
                    align: 'center',
                }, {
                    field: 'updatedAt',
                    title: 'Last updated',
                    width: '30%',
                    sortable: true,
                    align: 'center',
                    formatter: function (value, row, index) {
                        return new Date(Date.parse(value)).toLocaleString()
                    }
                },]
            });
        }

        $("#city").children().click(function (e) {
            $('#table').bootstrapTable('destroy');
            refresh_table(e.target.value)
            request_graphic(e.target.value);

        })

        function request_graphic(city, time=<%=time %>) {
            $.getJSON(`/api/stats/snr/city/${city}?t=${time}`, data => {
                console.log("done")
                var plot1 = $.jqplot('placeholder', [data], {
                    title: 'SNR distribution',
                    seriesDefaults: {
                        showMarker: false,
                    },
                    cursor: {
                        show: true,
                        zoom: true
                    },
                    axes: {
                        xaxis: {
                            label: "SNR(db)",
                            pad: 0
                        },
                        yaxis: {
                            label: "Peer number",
                            labelRenderer: $.jqplot.CanvasAxisLabelRenderer
                        }
                    }
                }).replot();

            })
        }

        function request_summary(city, time=<%=time %>) {
            $.getJSON(`/api/stats/snr/summary/${city}?t=${time}`, data => {
                $.jqplot('summary', [data], {
                    title: 'Summary(x peer < y)',
                    seriesDefaults: {
                        renderer: $.jqplot.BarRenderer,
                        pointLabels: { show: true, ypadding: 0 },
                    },
                    axes: {
                        xaxis: {
                            label: "Factor",
                            renderer: $.jqplot.CategoryAxisRenderer
                        },
                        yaxis: {
                            label: "SNR(db)",
                            labelRenderer: $.jqplot.CanvasAxisLabelRenderer
                        }
                    }
                }).replot();

            })
        }

        [
            [30, "within 0.5 Hour"],
            [60, "within 1 Hour"],
            [120, "within 2 Hour"],
            [240, "within 4 Hour"],
            [0, "All"],
        ].forEach(data => select_draw('#ef_time', data, <%=time %>));

        var city = "<%=cities.length ? cities[0]._id : undefined %>";



        $('#ef_time').change(e => {
            if (city) {
                request_graphic(city, e.target.value);
                request_summary(city, e.target.value);
            }
        })

        if (city) {
            request_graphic(city);
            request_summary(city);
            refresh_table(city);
        }
    </script>

    <%include footer%>